*.sqlite3
*cache*
alto2txt
.ipynb_checkpoints
*.ipynb
*/census/fixtures/*.json
*/gazetteer/fixtures/*.json
*/mitchells/fixtures/*.json
*/newspapers/fixtures/*.json
reports
mitchells_publication_for_linking.csv
alto2txt2fixture-reports
*/fixtures/*.json
scripts
.DS_Store
.vscode
.env
alto2txt2fixture/output/*
wikidata_gazetteer.csv
_dev
*.min.js
*.min.css
.coverage
.ipython
.envs/production
certs/*
staticfiles/*
fixture-files/*
