*.sqlite3
*cache*
metadata/newspapers/fixtures/*.json
metadata/mitchells/fixtures/*.json
metadata/gazetteer/fixtures/*.json
alto2txt
.ipynb_checkpoints
*.ipynb
*/census/fixtures/*.json
*/gazetteer/fixtures/*.json
*/mitchells/fixtures/*.json
*/newspapers/fixtures/*.json
reports
mitchells_publication_for_linking.csv
alto2txt2fixture-reports
*/fixtures/*.json
lib_metadata_db
scripts
.DS_Store
.vscode
.env
alto2txt2fixture/output/*
wikidata_gazetteer.csv
_dev
